<h1 class="text-center">Editing Privacy Policy</h1>
<div class="container">
  <%= render 'form', privacy_policy: @privacy_policy %>

  <%= link_to 'プライバシーポリシー全体に戻る', privacy_policies_path, class:"btn btn-outline-secondary" %>
  </div>
