<h1 class="text-center">Editing Slide</h1>

<%= render 'form', slide: @slide %>
<div class="container link-no-effect">
<%= link_to 'このスライドを見る', @slide %> |
<%= link_to 'スライド一覧', slides_path %>
</div>
