<p id="notice"><%= notice %></p>

<p>
  <div class="text-center"><%= image_tag @slide.image.to_s %></div>
</p>
<div class="container link-no-effect">
<%= link_to 'このスライドを編集', edit_slide_path(@slide) %> |
<%= link_to 'スライド一覧', slides_path %>
</div>
