<h1 class="text-center">Editing Lecture</h1>

<%= render 'form', lecture: @lecture %>

<div class='text-center'>
  <%= link_to 'このレクチャーを見る', @lecture %> |
  <%= link_to 'レクチャー一覧', lectures_path %>
</div>
