SMORQにようこそ
この度はアカウント登録頂きましてありがとうございます。
登録ユーザー名: <% if @user.username %> <%= @user.username %> <% else %> (ユーザー設定からご登録頂けます。)<% end %>
登録メールアドレス: <%= @user.email %><br>
<br>
--<br>
<p>■お問い合わせ■<br>
━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━<br>
・よくある質問/お問い合わせ：https://www.smorq.com/contacts/new<br>
・SMORQウェブサイト：https://www.smorq.com<br>
━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━
</p>
