<div class="home-second-message">
<div class="text-center home-img-wrapper2">
  <div class="home-top-contents2">
   <div class="home-message1">
     <div class="home-subject-wrapper text-center sales-message">
     プログラミングは、
     <br>
     プログラマーだけが使うもの
     <br>事務の自分には関係がないもの
     <br>
     文系の自分には難しすぎる
     <br>
     興味はあるけど、忙しくて勉強する時間がない
     <br>
     <br>
     そんな状況を変えるために、このサイトを作りました

     <br>
     <br>
      自分の作ったプログラムで、作業が自動化されたら？
     <br>
     データの整理・共有作業をしなくてよくなったら？
     <br>
     大切な時間をもっと大切なことに使うことができます
     <br>

    <br>一度はじめてみたら、プログラミングは難しくなくて
    <br>明日の仕事がすぐに変わっていきます
    <br>そう実感してもらえたら、うれしい限りです
    <br>
     <br>
     新しいオフィスワークをつくっていきましょう！
     </div>

   </div>
 </div>
 </div>
</div>
