  <h1 class="text-center top-message-wrapper">About US</h1>
 <div class="text-center home-img-wrapper"><img src="/homepage.jpg" class="top-img"></div>
 
 <div class="home-subject-wrapper text-center sales-message">
 プログラミングは、<br>

 プログラマーが使うもの、オフィスで働く自分には関係がない<br>

 興味はあるけど、忙しくて勉強する時間がない<br>
 <br>
 そんな状況と考えを変えるために、このサイトは作られました<br>
 <br>
 自分の作ったプログラムで、手作業が自動化されたら？<br>

 データの整理・共有をもうしなくてよくなったら？<br>
 あなたの大切な時間をもっと大切なことに使って欲しいと思います<br>
 <br>

 私たちと一緒に、新しいオフィスワークをつくっていきましょう！
 </div>
