<div class="home-1st-wrapper">
  <h2 class="text-center top-message-wrapper">明日からオフィスで使える仕事用プログラミングスクール</h2>
　<h4 class="text-center">FutureWorkで早速プログラミングを学ぼう！</h4>

<% if !user_signed_in? %>
  <div class="text-center top-study-button-wrapper">
    <button type="button btn-wrapper" class="btn btn-primary btn-lg signup-btn btn-wrapper" data-toggle="modal" data-target="#signupModal">
      無料で体験する
    </button>
  </div>
 <% end %>
 <div class="text-center home-img-wrapper"><img src="/homepage.jpg" class="top-img"></div>
</div>


<div class="home-subject-wrapper">
<div class="title-wrapper top-message-wrapper">
  <h2 class="text-center">学習を通じてできるようになること</h2>
</div>
<div class="container">
  <div class="row">
    <div class="top-icon col-3 text-center">
      <a class="link-no-effect"><i class="fas fa-cog fa-9x icon-black"></i></a></br>
    <h5 class='icon-word-wrapper'>繰り返し行う<br>
    手作業を自動化
    </h5>
    </div>

    <div class="top-icon col-3 text-center">
      <a class="link-no-effect"><i class="fas fa-file-alt fa-9x icon-black"></i></a></br>
      <h5 class='icon-word-wrapper'>カスタマイズしたメールを<br>
      リストから一斉送信
      </h5>
    </div>

    <div class="top-icon col-3 text-center">
      <a class="link-no-effect"><i class="fas fa-database fa-9x icon-black"></i></a></br>
      <h5 class='icon-word-wrapper'>データの自動収集・整理<br>
      チームへの自動共有
      </h5>
    </div>

    <div class="top-icon col-3 text-center">
      <a class="link-no-effect"><i class="fas fa-envelope fa-9x icon-black"></i></a></br>
    <h5 class='icon-word-wrapper'>問い合わせメールに内容に応じた自動返信の作成</h5>
    </div>
  </div>
</div>
</div>
<div class="text-center container home-subject-wrapper">
  <div class="title-wrapper top-message-wrapper">
    <h2 class="text-center">オフィス実務で使える</h2>
  </div>
  <h5>
    「オフィスで実行できる」がコンセプト！

  </h5>
  <h5>
    学んだプログラミングはすぐに実行することができます!
  </h5>
  <div class="home-img-wrapper"><img src="/office.jpg" class="top-img"></div>
</div>
<!-- slide and movie -->
<div class="home-sections-wrapper">
  <div class="text-center container home-subject-wrapper">
    <div class="title-wrapper top-message-wrapper">
      <h2 class="text-center">動画とスライド</h2>
    </div>
    <h5>
      全てのコースは、動画とスライド両方で解説されています。
    </h5>
    <h5>
      流れを理解したいときは動画、じっくり考えたいときはスライドと場面に応じた使いわけできます。
    </h5>
    <div class="home-img-wrapper"><img src="/explanation-home.png" class="explanation-img text-center"></div>
  </div>
</div>
<!-- Price Explanation -->
<div class="home-price-wrapper">
<div class="title-wrapper">
  <h2 class="text-center top-message-wrapper">料金プラン</h2>
</div>
<div class="container top-message-wrapper">
<div class="row">
<div class="col-sm-6">
  <div class="card bg-light">
    <div class="card-body text-center">
      <h4 class="card-title price-title">無料体験会員</h4>
      <p class="card-text price-small-text">オフィスプログラミングの基礎を学ぶ</p>
      <p class="card-text price-small-text">レベル１のコースにアクセス</p>
      <h5 class="card-text price-text"><strong>0</strong>円</h5>
    </div>
  </div>
</div>
<div class="col-sm-6">
  <div class="card text-white bg-info">
    <div class="card-body text-center">
      <h4 class="card-title  price-title">有料会員</h4>
      <p class="card-text price-small-text">プログラミングを用いてオフィスワークを自動化する</p>
      <p class="card-text price-small-text">全レッスンにアクセス</p>
      <h5 class="card-text price-text">月額1,000円（税込み）</h5>
    </div>
  </div>
</div>
</div>
</div>
</div>
<!-- Button trigger modal -->
<div class="home-bottom-modal">
<% if !user_signed_in? %>
<div class="title-wrapper">
  <h2 class="text-center top-message-wrapper">仕事をストレスから解放しよう！</h2>
</div>
  <div class="text-center top-study-button-wrapper">
    <button type="button" class="btn btn-primary btn-lg signup-btn rounded" data-toggle="modal" data-target="#signupModal">
      無料ではじめる
    </button>
  </div>
 <% end %>
 </div>
</div>
