<h1 class="text-center top-message-wrapper">500 Internal Server Error</h1>
<h3 class="text-center top-message-wrapper">サーバーの内部にエラーが発生している状態です</h3>
<h3 class="text-center top-message-wrapper">お手数ですが、しばらく時間をおいてから再度お試し下さい</h3>
<p class="text-center" width="30%"><img src="/error.jpg" width="30%"></p>
