<h1 class="text-center top-message-wrapper">404 Not Found</h1>
<h3 class="text-center top-message-wrapper">お探しのページは見つかりませんでした</h3>
<p class="text-center" width="30%"><img src="/error.jpg" width="30%"></p>
<div class="text-center top-message-wrapper"><%=link_to "ホームページに戻る", root_path, class:"btn btn-secondary btn-lg text-white" %></div>
