<h1 class="text-center">Editing Course</h1>
<div class='text-center'>
<%= render 'form', course: @course %>
</div>
<div class='text-center'>
  <%= link_to 'このコースと所属レクチャーを見る', @course %> |
  <%= link_to 'コース一覧', courses_path %>
</div>
