/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

.category-btn {
  margin-bottom:5px;
}

.nav.navbar-nav.navbar-right li a {
    color: black;
}

.nav.navbar-nav.navbar-right li a:visited {
    color: black!important;
}
.nav.navbar-nav.navbar-right li a:hover {
     color: #12486B!important;
}
.nav-titles:link {
  font-size: 1.1rem;
 color: black!important;
}
.nav-titles:hover {
  font-size: 1.1rem;
 color: #12486B!important;
}


.nav-titles:active {
 color: #FF0000;
}

.bg-primary{
  background: red;
  background-color: red;
}
.home-exp-wrapper {
  margin-top: 40px;
  background-color: #5094B8;
  padding-bottom: 20px;
}

.white-text {
  color:white;
}
.home-top-mock-iamge-wrapper {
  width:100%;
}
.home-top-mock-iamge {
  width:50%;
}
 .pagination-wrapper {

   margin-bottom:40px;
 }
 .policy-link {
      text-decoration: none;
      background-color: white;
 }

.policy-link:hover {
     text-decoration: none;
     background-color: white;
}
 .each-provision-wrapper {
   margin-bottom: 40px;
 }
 .password-setting-page-link {
   font-size: 0.9em;
 }
 .password-setting-page-link:visited {
   text-decoration: none;
   color:#6C757D;
 }
.password-setting-page-link:hover {
  text-decoration: none;
  color:black;
  background-color: white;
}
 .login-page-wrapper {
  margin-bottom:200px;
 }

.google-login-link {
  font-size:1.1em;

}
.google-login-wrapper:hover {
  text-decoration: none;
  color:black;
}
.login-btn1 {
  margin-bottom: 20px;
}
.card-course-description {
  font-size: 14px;
}

 .carousel-indicators .first-slide{
   background-color: #f00;
 }
 .carousel-indicators .active{
     background-color: #f00;
 }

 .carousel-indicators .inactive{
    background-color: #f00;
}
 .err-msg-box{
   width:800px;
 }

 .home-img-wrapper {
      margin-top:30px;
 }

 .home-img-wrapper1 {
   margin-top:30px;
   width:100%;
   height:700px;
   background-size:cover;
   background-image: url(/sky.jpg);
 }
 .home-img-wrapper2 {
   margin-top:30px;
   width:100%;
   height:800px;
   background-size:cover;
   background-image: url(/about.png);
 }
 .home-top-contents2 {
      transition-duration: 2s;
      height: 800px;
      width:100%;
 }
 .home-top-contents2:hover {
   background-color: rgba(0,0,0,0.6);
   height: 800px;
   transition-duration: 2s;
   width:100%;
 }

 .home-top-contents {
      transition-duration: 2s;
      height: 700px;
      width:100%;
 }

 .home-top-contents:hover {
   background-color: rgba(0,0,0,0.5);
   height: 700px;
   transition-duration: 2s;
   width:100%;
 }

 .home-message1 {
     color: white;
     text-align: center;
     width:100%;
 }

.home-message1-content1{
  padding-top: 280px;
text-align: center;
}
.home-message1-content1 h2{
  line-height: 2em;
}

.home-message1-content2{
  padding-top: 230px;
  text-align: left;
}
.home-message1-content2 p{
  font-size: 1.1em;
  font-weight:bold;
  line-height: 1.5em;
}

.radio-buttons label{
    display: block;
}

.error_messages{
  font-weight: bold;
}

.error-bg {
  background-color: white;
}

#error_explanation {
  color: red;
}



#error_explanation ul li {
    font-size: 1.2em;
    padding-top: 10px;
}

.card-wrapper {
      padding-top: 30px;
}



.top-img-2 {
  width:90%;
  height:580px;
  object-fit: cover;
  border-radius: 20px;
}

.explanation-img {
  width:90%;
  height:90%;

}

.course-description {
    font-size: 1.05em;
    line-height: 1.2em;
}

.modal-title {
  text-align: center;
  margin: 0 auto;
}

.complete-badge {
  width:30px;
}

.complete-badge-sm{
    width:20px;
}

.dark-pic {
  filter: grayscale(100%);
}


.home-second-message{
  width:100%;
}

.home-subject-wrapper{
    background-image: url(../images/sample-img.jpg);
}

.document-img {
  border-radius: 30px;
}
.fa-arrow-alt-circle-right {
  color:rgba(255, 0, 0, 0.5)
}
.fa-arrow-alt-circle-left {
  color:rgba(255, 0, 0, 0.5)
}
.carousel-control-next:hover{
  background-color: rgba(1,1,1,0);
}
.carousel-control-prev:hover{
  background-color: rgba(1,1,1,0);
}

.no-show {
  color:rgba(255, 0, 0, 0)
}

.thumb {
  height: 150px;
}

.form-group {
  padding-top: 20px;
}
