// Place all the styles related to the Blogs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.blog-top-message-wrapper{
  padding-top: 40px;
  color:#274c60;
  font-weight: 800;
}
.blog-category-btn-wrapper{
  padding-bottom:30px;
}
.blog-table-head-wrapper{
  border:none;
}
.blog-item {
  font-weight: 550;
  font-size: 1.2rem;
}
.blog-btn-wrapper {
  margin-top:40px;
}
ul.pagination li.active .page-link{
  color:white;
  background-color:#274c60;
  border-color: grey;
}

.pagination>li>a {
  color: #274c60;  /*文字の色を変える*/
}

.pagination>li>a:active {
//background-color:#274c60;    /*背景の色を変える*/
}


.pagination>li>a:hover {
  border-radius: 0px;    /*角を丸くする*/
}

.blog-wrapper {
  margin:0 auto;
  padding-bottom: 30px;
  //width:70%;
}

.btn-wrapper {
  margin-bottom:30px;
}

.blog-link {
  color:#333;
}

.blog-link:visited {
  color:#333;
  background-color: #F6F6F4;
  text-decoration: none;
}

.blog-link:hover {
  color:#162b52;
  background-color: #F6F6F4;
  text-decoration: none;
}

.blog-wrapper .trix-content div a:hover {
  color:black;
  background-color: rgb(246,246,244);
  text-decoration: none;
}

.blog-wrapper .trix-content div {
   image-rendering: auto;
     max-width: 100%;
     height: auto;
}
