// Place all the styles related to the Blogs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.blog-wrapper {

  margin:0 auto;
  background-color: #F6F6F4;
  padding-bottom: 30px;
  //width:70%;
}

// body {
//    transform: scale(1.1);
//    transform-origin: 0 0;
//    // add prefixed versions too.
// }


.blog-link {
  color:#333;
}

.blog-link:visited {
  color:#333;
  background-color: #F6F6F4;
  text-decoration: none;
}

.blog-link:hover {
  color:#162b52;
  background-color: #F6F6F4;
  text-decoration: none;
}

.blog-wrapper .trix-content div a:hover {
  color:black;
  background-color: rgb(246,246,244);
  text-decoration: none;
}

.blog-wrapper .trix-content div {
   image-rendering: auto;
     max-width: 100%;
     height: auto;
}

.blog-wrapper .trix-content div figure{
  // width:80%;
  // text-align: center;
  // mrgin: 0 auto;
}
// .blog-wrapper .trix-content div figure img {
//   //max-width: 30%;
//   height: auto;
// }
// .blog-wrapper .trix-content img {
//     max-width: 100%;
//     //width:100%;
//     height: auto;
// }

// @media screen and (max-width: 1079px) {
//
//   .blog-wrapper .trix-content div  {
//     //text-align: center;
// margin: 0 auto;
//   }
//   .blog-wrapper .trix-content div figure {
//     margin: 0 auto;
//     width: 70%;
//     //background-color: red;
//   }
//
//   .blog-wrapper .trix-content div figure img {
//     //width: 90%;
//     margin: 0 auto;
//     max-width: 100%;
//     height: auto;
//   }
  // .blog-wrapper .trix-content div h1 figure img {
  //   width: 90%;
  //   max-width: 100%;
  //   height: auto;
  // }
// }
