// Place all the styles related to the Blogs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.blog-wrapper {
  background-color: #F6F6F4;
  padding-bottom: 30px;
}

.blog-link {
  color:#333;
}

.blog-link:visited {
  color:#333;
  background-color: #F6F6F4;
  text-decoration: none;
}

.blog-link:hover {
  color:#162b52;
  background-color: #F6F6F4;
  text-decoration: none;
}

.blog-wrapper .trix-content div a:hover {
  color:black;
  background-color: rgb(246,246,244);
  text-decoration: none;
}
