// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.course-index-card-body {
  height:100%;
}

.vm {
    padding-top: 25px;
}

.row-height  {
    height:200px;
    object-fit: cover;
}
.course-index-card {
    color:#4C4C4C;
  background-color: #CCF2FF;
  text-decoration: none;
  box-shadow:3px 3px 6px rgba(0,0,0,0.5);
}
.course-index-card :unvisited {
  color:#4C4C4C;
  background-color: #CCF2FF;
  text-decoration: none;

}
.course-index-card:hover {
  background-color: #CCF2FF;
  text-decoration: none;
  color:black;
}

.row-height :hover{
    box-shadow:3px 3px 6px rgba(0,0,0,0.5);
}

.row-height img {
    height:200px;
    object-fit: cover;
}

.row-height img:hover{
    box-shadow:3px 3px 6px rgba(0,0,0,0.5);
}

.lecture-card:hover {
  background-color: #CCF2FF;
  text-decoration: none;
  box-shadow:3px 3px 6px rgba(0,0,0,0.5);
}

.lecture-card a:hover {
  background-color: #CCF2FF;
  text-decoration: none;
}

.top-study-button-wrapper {
  padding-top: 40px;
  padding-bottom: 40px;
}

.login-btn-wrapper {
  padding-top: 20px;
}

.top-message-wrapper {
  padding-top: 40px;
  padding-bottom: 40px;
}

.home-last-message {
    font-weight: bold;
  line-height: 1.5em;
}

.price-text{
  font-size: 1.1em;
}

.price-text-lg {
  padding-top: 5px;
  font-size: 1.3em;
}
.home-cards-wrapper {
  width:90%;
}

.price-title {
  padding-bottom: 5px;
}
.nav-item {
  padding-right: 1.5em;
font-weight: bold;
}

.navbar {
  background-color: rgba(255,255,255,0);
}

.navbar a:hover {
    color:black;
    background-color: rgba(255,255,255,1);
    text-decoration:none;
}

.link-no-effect {
 //color:white;
 background-color:white;
}


.link-no-effect :hover{
  background-color:white;
  color:black;
  text-decoration:none;
}

.lecture-card-wrapper {
  padding-top: 10px;
}

.lecture-move-link:link {
    color:#4C4C4C;
}
.lecture-move-link:visited {
    color:#4C4C4C;
}

.lecture-move-link:hover{
  color:black;
  background-color: rgba(255,255,255,1);
  text-decoration:none;
}

.icon-word-wrapper{
padding-top:30px;
}

.home-1st-wrapper {
  padding-top:50px;
  //background-color: #F5F5F5;
  //height:300px;
}

.home-1st-wrapper h1{
  line-height:1.4em;

}

.home-sections-wrapper{
    padding-bottom: 60px;
}

.home-price-wrapper {
  background-color: #D7E6F5;
  padding-bottom: 60px;
}

.question-card {
  margin-top:30px;
  //background-color: #F0F4F9;
}

.sales-message {
  color:white;
  line-height:40px;
  font-size: 1.1em;
  font-weight: bold;
}

.course-index-wrapper{
  background-color: #F7FCFF;
  padding-bottom: 50px;
}

.width-85 {
  width:85%;
}
/*
.fullscreen .modal-dialog {
  margin: 0 0 0 0;
  max-width: 100%;
  width: 100%;
  height: 100%;
  min-height: 100%;
  padding: 0;;
}

.fullscreen .modal-content {
  height: 100%;
  min-height: 100%;
  border-radius: 0;
  background: rgba(36, 36, 36, 0.90);
  overflow:auto;
}

.fullscreen .modal-content .modal-header{
  border: 0px;
}

.fullscreen .modal-content button{
  opacity: 1;
}

.fullscreen .modal-content button span{
  color: #fff;
  font-weight: 1;
  font-size: 26px;
  text-shadow: none;
}

.fullscreen .modal-body .modal-logo img {
  width: 158px;
  padding-bottom: 84px;
}

.fullscreen .modal-body ul {
  padding: 0 0 0 0;
}
.fullscreen .modal-body li {
  padding-bottom: 43px;
}
.fullscreen .modal-body a {
  color: #fff;
  font-size: 16px;
}

.fullscreen .modal-body .social img {
  width: 56px;
  margin: 8px;
}
*/
