// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.home-video {
  padding-top:30px;
  width: 967px;
  height: 543px;
  aspect-ratio: 16 / 9;
    margin: 0 auto;
  background-color: grey;
}

.home-video iframe {
  width: 100%;
  height: 100%;
}

.category-video {
  padding-bottom:40px;
  width: 800px;
  height: 450px;
  aspect-ratio: 16 / 9;
    margin: 0 auto;
}


.category-video iframe {
  width: 100%;
  height: 100%;
}

.fa-google {
  background: conic-gradient(from -45deg, #ea4335 110deg, #4285f4 90deg 180deg, #34a853 180deg 270deg, #fbbc05 270deg) 73% 55%/150% 150% no-repeat;
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  -webkit-text-fill-color: transparent;
}

.trix-content div a {
  color:blue;
}

.trix-content div a:hover {
  color:black;
  background-color: rgb(255,255,255);
  text-decoration: none;
}

.trix-content div a:visited {
  color:blue;
  text-decoration: none;
}
// .trix-content img {
//   width:85% !important;
// }

// .trix-content div figure img {
//   max-width: 100%;
//   height: auto;
//
// }

.exp1 {
font-size: 1.2em;
line-height: 1.8em;
}
.exp1-wrapper {

display: flex;
 justify-content: center;
 align-items: center;
}

.img-grey {
  filter: grayscale(100%);
}
.plan-explanation {
  padding-bottom: 10px;
}
.price-yen {
  padding-top: 30px;
  padding-bottom: 60px;
}

.price-text{
  font-size: 1.1em;
}


.category-index-wrapper {
  padding-bottom:200px;
}

.course-index-card-body {
  height:100%;
}

.vm {
    padding-top: 25px;
}

.row-height  {
    height:200px;
    object-fit: cover;
}
.course-index-card {
    color:#4C4C4C;
  background-color: #CCF2FF;
  text-decoration: none;
  box-shadow:3px 3px 6px rgba(0,0,0,0.5);
}
.course-index-card :unvisited {
  color:#4C4C4C;
  background-color: #CCF2FF;
  text-decoration: none;

}
.course-index-card:hover {
  background-color: #CCF2FF;
  text-decoration: none;
  color:black;
}

.row-height :hover{
    box-shadow:3px 3px 6px rgba(0,0,0,0.5);
}

.category_index_img :hover{
    box-shadow:3px 3px 6px rgba(0,0,0,0.5);
}

.row-height img {
    height:200px;
    object-fit: cover;
}

.row-height img:hover{
    box-shadow:3px 3px 6px rgba(0,0,0,0.5);
}

.lecture-card:hover {
  background-color: #CCF2FF;
  text-decoration: none;
  box-shadow:3px 3px 6px rgba(0,0,0,0.5);
}

.lecture-card a:hover {
  background-color: #CCF2FF;
  text-decoration: none;
}

.top-study-button-wrapper {
  padding-top: 40px;
  padding-bottom: 20px;
}

.second-study-button-wrapper {
  padding-top: 20px;
}
.sub-button-wrapper {
padding-top: 5px;
}

.login-btn-wrapper {
  padding-top: 20px;
}

.top-message-wrapper {
  padding-top: 40px;
  padding-bottom: 40px;
}

.home-last-message {

    font-weight: bold;
   line-height: 1.5em;
}
 .home-last-message-wrapper {
   padding-top: 50px;
 }



.price-text-lg {
  padding-top: 5px;
  font-size: 1.3em;
}
.home-cards-wrapper {
  width:90%;
}

.price-title {
  padding-bottom: 5px;
}
.nav-item {
  padding-right: 1.5em;
font-weight: bold;
}

.navbar {
  margin: 0 auto;
  max-width: 1600px;
  margin-top: 15px;
  background-color: rgba(255,255,255,0);
}



.navbar a:hover {
    color:black;
    background-color: rgba(255,255,255,1);
    text-decoration:none;
}

.link-black{
 color:black;

}

.link-no-effect {
 //color:black;
 background-color:white;
}


.link-no-effect :hover{
  background-color:white;
  color:black;
  text-decoration:none;
}

.link-no-effect :visited{
  background-color:white;
  color:black;
  text-decoration:none;
}

.lecture-card-wrapper {
  padding-top: 10px;
}

.lecture-move-link:link {
    color:#4C4C4C;
}
.lecture-move-link:visited {
    color:#4C4C4C;
}

.lecture-move-link:hover{
  color:black;
  background-color: rgba(255,255,255,1);
  text-decoration:none;
}

.icon-word-wrapper{
padding-top:30px;
}

.icon-card {
  padding-bottom: 40px;
}

.icon-explanation {
font-size: 0.95em;
}

.home-1st-wrapper {
  padding-top:50px;
  //background-color: #F5F5F5;
  //height:300px;
}

.home-1st-wrapper h1{
  line-height:1.4em;

}

.home-sections-wrapper{
    padding-bottom: 60px;
}

.home-price-wrapper {
  //background-color: #D7E6F5;
  // padding-bottom: 120px;
  margin-bottom: 60px;
}

.question-card {
  margin-top:30px;
  //background-color: #F0F4F9;
}

.sales-message {
  color:white;
  line-height:40px;
  font-size: 1.1em;
  font-weight: bold;
}

.sales-message-charge {
  line-height:40px;
  font-size: 1.1em;
  font-weight: bold;
}
.charge-page-wrapper {
  background-image: url(/charge-bg-2.png);

}
.course-index-wrapper{
  background-color: #F7FCFF;
  padding-bottom: 50px;
}

.width-85 {
  width:85%;
}
.slide-width{
  width:85%;
}
.video-wrapper {
   margin: 0 auto;
}

.small-view-only {
  display: none;
}


#carouselExampleControls2{
  width:1140px;
  margin: 0 auto;
}

@media screen and (max-width: 1540px) {

  .trix-content figure {
     text-align: center;
      margin:0 auto;
       transform: scale(0.8);
  }
  }

  @media screen and (max-width: 1199px) {

    .modal-dialog {
      max-width: 95% !important;
    }
      #carouselExampleControls2{
        width:95%;
        margin: 0 auto;
      }
      .slide-width{
        width:100%;
      }
      margin: 0 auto;
    }

    @media screen and (max-width: 991px) {

    #top-feature-1 {
      font-size: 0;
    }
    #top-feature-1:before {
      font-size:1.25rem;
      content:'エクセルやスプレッドシートに組み込みのプログラミング環境を使うので';
    }

      .nav-item {
        font-size: 1.3em;
      }
      #carouselExampleControls{
        width:100%;
      }

      .exp1 {
      font-size: 1em;
      line-height: 1.8em;
      }
     .price-text {
       font-size: 1em;
     }
      .home-cards-wrapper {
        width:100%;
      }
    #second-benefit {
     font-size: 0;
    }

    #second-benefit:before{
    font-size:1.25rem;
    content:'一斉メール送信';
    }

    #fourth-benefit {
     font-size: 0;
    }

    #fourth-benefit:before{
    font-size:1.25rem;
    content:'自動メール送信';
    }

    .home-video {
      width: 100%;
      height: 100%;
      aspect-ratio: 16 / 9;
    }

    .category-video {
      width: 100%;
      height: 100%;
      aspect-ratio: 16 / 9;
    }

}

@media screen and (max-width: 768px) {

    .top-page-app-feature {
     font-size: 1.0em;
    }

    .card-title {
    text-align: center;
    }
}

@media screen and (max-width: 576px) {

    h1.top-message-wrapper {
      font-size:1.4rem;
    }

    h2.top-message-wrapper {
      font-size:1.4em;
    }
    .top-messagge-2{
      font-size:1.5em;
    }
   .price-title {
     font-size:1.2rem;
   }
   .price-yen {
     font-size:1.3rem;
     padding-top:5px;
     padding-bottom:10px;
   }
   .plan-explanation {
     font-size:1rem;
     padding-bottom: 0px;
   }
   .card-body {
    padding: 0.3rem;
    }
    .top-card {
      font-size:1.1rem;
    }
    #second-benefit:before{
    font-size:1.1rem;
    content:'一斉メール送信';
    }

    #fourth-benefit {
     font-size: 0;
    }

    #fourth-benefit:before{
    font-size:1.1rem;
    content:'自動メール送信';
    }
    .video-note-exp{
      font-size:0.9rem;
    }
    .exp1-wrapper{
      font-size:0.9rem;
    }
    .home-img-wrapper img{
      height:50%;
    }
    #top-feature-1:before {
      font-size:1rem;
      content:'面倒なプログラミング環境構築は不要';
    }

    #top-feature-2 {
      font-size:0rem;
    }
    #top-feature-2:before {
      font-size:1rem;
      content:'すぐに学習を開始できます';
    }

    #top-feature-3 {
      font-size:0rem;
    }
    #top-feature-3:before {
      font-size:1rem;
      content:'今日からのオフィス業務に生かしましょう';
    }

    .top-message-wrapper {
      padding-top: 10px;
      padding-bottom: 10px;
    }
    .price-card {
        margin-bottom: 20px;
    }

    #free-exp {
      font-size:0rem;
    }
    #free-exp:before {
      font-size:1rem;
      content:'オフィス用プログラミングの基礎';
    }

    #paid-exp {
      font-size:0rem;
    }
    #paid-exp:before {
      font-size:1rem;
      content:'オフィスワークを自動化する';
    }
    .sm-merit-title {
        font-size:1.4rem
    }
    .large-view-only {
      display:none;
    }
    .small-view-only {
      display:block;
    }

    .exp1-wrapper {
      margin-bottom: 20px;
    }
    .sm-vertical {
      position: relative;
      top: 50%;
      -webkit-transform: translateY(-50%); /* Safari用 */
      transform: translateY(-50%);
    }

    .exp1 {
      font-size: 1.2rem;
    }
    .blog-item {
      font-size: 1rem;
    }
    .blog-item-wrapper {
      text-align: center;
    }
    .blog-search-btn {
      margin-top:15px;
      text-align: center;
    }
}
