// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.row-height img {
    height:200px;
    object-fit: cover;
}

.row-height img:hover{
    box-shadow:3px 3px 6px rgba(0,0,0,0.5);
}

.lecture-card:hover {
  background-color: #CCF2FF;
  text-decoration: none;
  box-shadow:3px 3px 6px rgba(0,0,0,0.5);
}

.lecture-card a:hover {
  background-color: #CCF2FF;
  text-decoration: none;
}

.top-study-button-wrapper {
  padding-top: 40px;
  padding-bottom: 40px;
}

.login-btn-wrapper {
  padding-top: 20px;
}

.top-message-wrapper {
  padding-top: 40px;
  padding-bottom: 40px;
}


.nav-item {
  padding-right: 1.5em;
font-weight: bold;
}

.navbar {
  background-color: rgba(255,255,255,0);
}

.navbar a:hover {
    color:black;
    background-color: rgba(255,255,255,1);
    text-decoration:none;
}

.link-no-effect {
 //color:white;
 background-color:white;
}


.link-no-effect :hover{
  background-color:white;
  color:black;
  text-decoration:none;
}

.lecture-card-wrapper {
  padding-top: 10px;
}

.lecture-move-link:link {
    color:#4C4C4C;
}
.lecture-move-link:visited {
    color:#4C4C4C;
}

.lecture-move-link:hover{
  color:black;
  background-color: rgba(255,255,255,1);
  text-decoration:none;
}
