// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.row-height img {
    height:200px;
    object-fit: cover;
}

.row-height img:hover{
    box-shadow:3px 3px 6px rgba(0,0,0,0.5);
}

.lecture-card:hover {
  background-color: #CCF2FF;
  text-decoration: none;
  box-shadow:3px 3px 6px rgba(0,0,0,0.5);
}
