<h1 class="text-center top-message-wrapper">Editing Category</h1>

<%= render 'form', category: @category %>
<div class="container text-center">
<%= link_to 'このカテゴリーのコース一覧', @category, class:"btn btn-outline-secondary" %> |
<%= link_to 'カテゴリー一覧', categories_path, class:"btn btn-outline-secondary" %>
</div>
