<h1 class="text-center top-message-wrapper">コース一覧</h1>
  <div class="container category-index-wrapper">

  <div class="card-deck">
      <% @categories.order(order: :asc).each do |category| %>
    <div class="card">
      <a class="category_index_img" href="/categories/<%= category.id %>"><%= image_tag category.image.to_s, class:"card-img-top" %></a>
      <div class="card-body">
        <h5 class="card-title text-center"><%= category.category_name %></h5>
        <p class="card-text"><%= category.category_content %></p>
      </div>
    </div>
    <% end %>
  </div>
</div>
