<h1 class="text-center top-message-wrapper">新しくカテゴリーを作る</h1>

<%= render 'form', category: @category %>
<div class="container">
<%= link_to 'カテゴリー一覧（ユーザービュー）', categories_path, class:"btn btn-outline-secondary" %><br><br>
<%= link_to 'カテゴリー一覧（管理社用）', '/category_table', class:"btn btn-outline-secondary" %>
</div>
