<div class="container text-center top-study-button-wrapper">
<h2 class="text-center top-study-button-wrapper">有料会員登録ありがとうございます!</h2>
<div class="top-study-button-wrapper">
<%= link_to "コース一覧に戻る", courses_path, class:"btn btn-lg btn-outline-success" %>
</div>
</div>
