<p class="text-center">
 <div class="link-no-effect text-center">© FutureWork 2020-21 |<%= link_to " About US ", "/home/about", class:"text-dark" %>  |<%= link_to " お問い合わせ ", new_contact_path, class:"text-dark" %></div>
</p>
