<p><%= @resource.email %>様</p>

<p>平素よりSMORQのサービスをご利用頂きありがとうございます。</P>
<p>このメールは、お客様からの処理に基づいて送信された、SMORQアカウントのパスワード再設定手続き確認メールです</p>

<p><%= link_to 'パスワードを再設定する', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>※URLが有効期限切れの場合は、パスワードの再設定手続きをはじめからやり直してください。</p>
<p>
==============================================<br>
※本メールはご登録いただいたメールアドレス宛に送信されています。<br>
※このメールにお心あたりがない場合は、お手数おかけいたしますが本メールを破棄していただけますようお願いいたします。<br>
ご不明な点がございましたら、下記お問い合わせページからご連絡ください。<br>
https://www.smorq.com/contacts/new<br>
※当サイトの個人情報の取扱いについては「プライバシーポリシー」をご覧ください。<br>
https://www.smorq.com/home/privacy_policies<br>
━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━<br>
SMORQ</p>
