<h1 class="text-center">SMORQの利用規約を改定する</h1>

<%= render 'form', policy: @policy %>
<p class="text-center">
<%= link_to 'Show', @policy, class:"btn btn-outline-secondary" %> |
<%= link_to 'Back', policies_path, class:"btn btn-outline-secondary" %>
</p>
